/* banner section styles */
.banner {
  background: url("/images/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 47px;
}
.banner-header {
  padding-top: 50px;
}
#banner-text1,
#banner-text2 {
  font-family: "Raleway", "Sans-serif";
  font-size: 64px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: 0px;
  text-align: center;
}
#banner-text1 {
  color: rgb(255, 255, 255);
}
.paribahan {
  color: rgb(29, 209, 0);
}
.banner-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0px auto 32px auto;
  width: 690px;
  color: rgb(255, 255, 255);
}
#banner-button {
  text-align: center;
  margin-top: -10px;
}
#banner-button .btn {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 12px;
  background: rgb(29, 209, 0);
  border: none;
}

.info-container {
  display: flex;
  gap: 23px;
  margin-top: 46px;
  justify-content: center;
}
.card-container {
  box-sizing: border-box;
  border-bottom: 3px solid rgb(29, 209, 0);
  border-radius: 24px;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 138px;
  justify-content: center;
}
#card-head {
  color: rgb(3, 7, 18);
  font-family: "Inter";
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
}
#card-description {
  color: rgba(3, 7, 18, 0.6);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

/* offer section styles */
.offer-section {
  width: 100%;
  margin-bottom: 120px;
}
.offer-section .offer-heading {
  margin: 120px auto 48px auto;
  width: 100%;
  text-align: center;
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0px;
}
.offer {
  display: flex;
  gap: 24px;
  margin-bottom: 62px;
}
.offer-container1,
.offer-container2 {
  position: relative;
}
.divider {
  position: absolute;
  top: 86px;
  left: 245px;
}
.rectangle,
.rectangle2 {
  display: flex;
  justify-content: space-around;
  width: 484px;
  height: 220px;
  border-radius: 24px;
  background: rgb(255, 191, 15);
}
.discount h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0px;
  padding-top: 52px;
}
.discount h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0px;
}
.discount p {
  font-family: "inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: rgba(3, 7, 18, 0.5);
}
.coupon h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0px;
  padding-top: 66px;
}
.coupon p {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: rgba(3, 7, 18, 0.4);
}
.rectangle2 {
  background: rgb(247, 140, 156);
}

/* booking section styles */
.booking-section {
  box-sizing: border-box;
  border-top: 2px solid rgb(29, 209, 0);
  border-radius: 88px 88px 0px 0px;
  background: rgb(247, 248, 248);
}
.booking-header h1 {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 65px;
  margin-bottom: 24px;
}
.booking-header p {
  color: rgba(3, 7, 18, 0.6);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  width: 736px;
  margin: 0 auto 0 auto;
  margin-bottom: 48px;
}
.schedule-container {
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
  /* border: 2px solid red; */
  border-radius: 24px;
  background: rgb(255, 255, 255);
}
.transport {
  display: flex;
  margin-left: 32px;
  gap: 14px;
}
.schedule .top-container {
  display: flex;
  padding-top: 44px;
}
.details h1 {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 233px;
}
.details p {
  color: rgba(3, 7, 18, 0.6);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.route-details {
  margin-left: 32px;
  margin-top: 24px;
  border-radius: 24px;
  width: 710px;
  background: rgb(247, 248, 248);
}
.route {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-top: 32px;
}
.dotted-border {
  border-bottom: 2px dashed rgba(3, 7, 18, 0.2);
  border-top: none;
  margin: 23px 32px;
}
.route h4,
.time h4 {
  color: rgba(3, 7, 18, 0.6);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.route h3,
.time h3 {
  padding-right: 32px;
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.time {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}
.boarding-point {
  display: flex;
  gap: 24px;
  margin: 0 30px;
  padding-bottom: 32px;
}
.point1,
.point2,
.duration {
  padding: 19px 17px 18px 16px;
  border-radius: 12px;
  background: rgba(3, 7, 18, 0.05);
  color: rgba(3, 7, 18, 0.8);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  text-wrap: nowrap;
}

.price-divider {
  border: 2px dashed rgba(3, 7, 18, 0.2);
  margin-left: -30px;
}
.ticket-price {
  height: 100%;
  margin: auto auto;
}
.ticket-price img {
  margin: 0 auto;
}
.ticket-price h1 {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(3, 7, 18);
}
.ticket-price p {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(3, 7, 18, 0.6);
}

/* choose your seat styles */
.choose-seat {
  background: rgb(247, 248, 248);
  padding-bottom: 120px;
}
.seat-container {
  display: flex;
  margin-left: 135px;
  margin-right: 135px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  margin-top: 26px;
}
.left {
  padding-top: 32px;
  padding-left: 32px;
  width: 610px;
}
.seat-selection {
  display: flex;
  justify-content: space-between;
}
.left h1 {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 23px;
}
.dashed-border {
  border-bottom: 2px dashed rgba(3, 7, 18, 0.2);
  border-top: none;
}
.seat-selection {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gray-seat {
  display: flex;
  gap: 12px;
  align-items: center;
}
.gray-seat p {
  color: rgba(3, 7, 18, 0.5);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.green-seat {
  display: flex;
  gap: 12px;
  align-items: center;
}
.green-seat p {
  color: rgb(29, 209, 0);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.all-seats {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 32px;
}
.engine-row .steering {
  width: 120px;
  /* height: 50px; */
  margin-left: 470px;
  padding: 16px 43px;
  border-radius: 12px;
  background: rgba(3, 7, 18, 0.1);
}
.row1 {
  display: flex;
  gap: 26px;
  margin-top: 24px;
}
.row {
  display: flex;
  gap: 50px;
}
.left-row,
.right-row {
  display: flex;
  width: 252px;
  justify-content: space-between;
}
.line {
  padding: 17px 0px 17px 0;
  color: rgba(3, 7, 18, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.left-row button,
.right-row button {
  padding: 17px 44px;
  border-radius: 12px;
  background: rgb(247, 248, 248);
  color: rgba(3, 7, 18, 0.5);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.vertical-border {
  border-left: 2px dashed rgba(3, 7, 18, 0.2);
  margin: 32px;
}

.right h1 {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 23px;
}
.right {
  padding-top: 32px;
  width: 100%;
  margin-right: 32px;
}
.border,
.border1 {
  border-bottom: 2px dashed rgba(3, 7, 18, 0.2);
  border-top: none;
  margin-bottom: 25px;
}
.border1 {
  margin: 0 24px;
}
.total-seat {
  border-radius: 12px;
  background: rgb(247, 248, 248);
}
.title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
  padding-top: 32px;
}
.title p {
  color: rgb(3, 7, 18);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.total-seat-selected {
  border-radius: 5px;
  background: rgb(29, 209, 0);
  color: rgb(255, 255, 255);
font-family: 'Inter';
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0px;
text-align: center;
}
.seat {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  color: rgba(3, 7, 18, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.selected-seats {
  margin-top: 16px;
}
.bottom-border1 {
  border: 1px solid rgba(3, 7, 18, 0.2);
  margin: 16px 24px 0 24px;
}
.total-amount {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}
.total-amount p {
  color: rgb(3, 7, 18);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.coupon-input {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  margin: 0 24px;
  height: 56px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.coupon-input input {
  width: 131px;
  padding-left: 5px;
  font-size: 14px;
  color: rgba(3, 7, 18, 0.4);
  font-family: "Inter";
}
.coupon-input button {
  border-radius: 8px;
  background: rgb(29, 209, 0);
  padding: 11px 15px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.passenger-info h2 {
  color: rgb(3, 7, 18);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 16px;
}
.passenger-info input {
  box-sizing: border-box;
  border: 1px solid rgba(3, 7, 18, 0.1);
  border-radius: 12px;
  width: 300px;
  padding: 16px 24px;
}
.submit {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 16px;
  background: rgb(29, 209, 0);
  width: 100%;
  height: 65px;
  margin-top: 24px;
}
.link {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
.link a {
  color: rgba(3, 7, 18, 0.6);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

/* footer style  */
footer {
  padding: 120px 135px;
  background-color: rgb(3, 7, 18);
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.left-footer h1 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}
.left-footer p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.right-footer h4 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
}
.right-footer img {
  width: 180px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  margin-bottom: 68px;
}
.bottom-border2 {
  border: 1.5px dashed rgba(255, 255, 255, 0.3);
  margin-bottom: 32px;
}
.lower-footer {
  display: flex;
  justify-content: space-between;
}
.lower-left-footer {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.lower-right-footer {
  display: flex;
  gap: 32px;
}
.lower-right-footer p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
