/* banner section styles */
.banner {
  background: url(/images/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 47px;
}
.banner-header {
  padding-top: 50px;
}
#banner-text1,
#banner-text2 {
  font-family: "Raleway", "Sans-serif";
  font-size: 64px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: 0px;
  text-align: center;
}
#banner-text1 {
  color: rgb(255, 255, 255);
}
.paribahan {
  color: rgb(29, 209, 0);
}
.banner-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0px auto 32px auto;
  width: 690px;
  color: rgb(255, 255, 255);
}
#banner-button {
  text-align: center;
  margin-top: -10px;
}
#banner-button .btn {
  color: rgb(3, 7, 18);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 12px;
  background: rgb(29, 209, 0);
  border: none;
}

.info-container {
  display: flex;
  gap: 23px;
  margin-top: 46px;
  justify-content: center;
}
.card-container {
  box-sizing: border-box;
  border-bottom: 3px solid rgb(29, 209, 0);
  border-radius: 24px;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 138px;
  justify-content: center;
}
#card-head {
  color: rgb(3, 7, 18);
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
}
#card-description {
  color: rgba(3, 7, 18, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

/* offer section styles */
.offer-section {
  width: 100%;
}
.offer-section .offer-heading {
  margin: 120px auto 48px auto;
  width: 100%;
  text-align: center;
  color: rgb(3, 7, 18);
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0px;
}
.offer {
  display: flex;
  gap: 24px;
  margin-bottom: 62px;
}
.offer-container1,
.offer-container2 {
  position: relative;
}
.divider {
  position: absolute;
  top: 86px;
  left: 245px;
}
.rectangle,
.rectangle2 {
  display: flex;
  justify-content: space-around;
  width: 484px;
  height: 220px;
  border-radius: 24px;
  background: rgb(255, 191, 15);
}
.discount h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0px;
  padding-top: 52px;
}
.discount h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0px;
}
.discount p {
  font-family: "inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: rgba(3, 7, 18, 0.5);
}
.coupon h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0px;
  padding-top: 66px;
}
.coupon p {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: rgba(3, 7, 18, 0.4);
}
.rectangle2 {
  background: rgb(247, 140, 156);
}
